:root {
    --lightRed: hsl(0, 100%, 67%);  
    --OrangeYellow: hsl(39, 100%, 56%);
    --GreenTeal: hsl(166, 100%, 37%);
    --CobaltBlue: hsl(234, 85%, 45%);
    --LightBlue: hsl(252, 100%, 67%);
    --RoyalBlue: hsl(241, 81%, 54%);
    --VioletBlue: hsla(276, 72%, 46%, 1);
    --PersianBlue: hsla(241, 72%, 46%, 0);
    --PaleBlue: hsl(221, 100%, 96%);
    --Lavender: hsl(241, 100%, 96%);
    --GrayBlue: hsl(224, 30%, 27%);
}

@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .card {
        background-color: var(--RoyalBlue);
        border-radius: 0 0 30px 30px;
        color: white;
        padding: 50px;
        margin: 0 10px;
    }

    div {
        margin: 15px auto;
        border: 1px solid white;
        border-radius: 9px;
        padding: 20px;

    }

    .reaction {
        background-color: hsla(0, 100%, 67%, 0.05);
        color: var(--lightRed);
    }

    .memory {
        background-color: hsla(39, 100%, 56%, 0.05);
        color: var(--OrangeYellow);
    }

    .verbal {
        background-color: hsla(166, 100%, 37%, 0.05);
        color: var(--GreenTeal);
    }

    .visual {
        background-color: hsla(234, 85%, 45%, 0.05);
        color: var(--CobaltBlue);
    }

    .btn {
        background-color: var(--GrayBlue);
        color: white;
        border-radius: 25px;
        padding: 15px 100px;
        margin: 10px;
    }

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
}
