:root {
    --lightRed: hsl(0, 100%, 67%);  
    --OrangeYellow: hsl(39, 100%, 56%);
    --GreenTeal: hsl(166, 100%, 37%);
    --CobaltBlue: hsl(234, 85%, 45%);
    --LightBlue: hsl(252, 100%, 67%);
    --RoyalBlue: hsl(241, 81%, 54%);
    --VioletBlue: rgba(78, 33, 202, 0.752);
    --PersianBlue: hsla(241, 72%, 46%, 0);
    --PaleBlue: hsl(221, 100%, 96%);
    --Lavender: hsl(241, 100%, 96%);
    --GrayBlue: hsl(224, 30%, 27%);
}

@media only screen and (max-width: 375px) {
    body {
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-items: center;
        font-size: 18px;
        font-family: 'Hanken Grotesk', sans-serif;
    }

    .card {
        background-image: linear-gradient(var(--LightBlue), var(--RoyalBlue));
        border-radius: 0 0 30px 30px;
        color: white;
        padding: 50px;
        margin: 0 10px;
        text-align: center;

    }

    .score {
        border-radius: 50%;
        background-image: linear-gradient(var(--VioletBlue), var(--PersianBlue));
    }

    .big {
        font-size: 50px;
        font-weight: bold;
        color: var(--PaleBlue);
    }

    .container {
        padding: 5px 30px;
    }

    div {
        margin: 10px auto;
        border: 1px solid white;
        border-radius: 9px;
        padding: 1px 20px;

    }

    .reaction {
        background-color: hsla(0, 100%, 67%, 0.05);
        color: var(--lightRed);
        display: flex;
        justify-content: space-between;
    }

    .memory {
        background-color: hsla(39, 100%, 56%, 0.05);
        color: var(--OrangeYellow);
        display: flex;
        justify-content: space-between;
    }

    .verbal {
        background-color: hsla(166, 100%, 37%, 0.05);
        color: var(--GreenTeal);
        display: flex;
        justify-content: space-between;
    }

    .visual {
        background-color: hsla(234, 85%, 45%, 0.05);
        color: var(--CobaltBlue);
        display: flex;
        justify-content: space-between;
    }

    .number {
        color: hsla(224, 30%, 27%, 0.5);
        font-weight: bold;
    }

    .nmb {
        color: var(--GrayBlue);
        font-weight: bold;
    }

    .btn {
        background-color: var(--GrayBlue);
        color: white;
        border-radius: 25px;
        padding: 15px 90px;
        margin: 10px;
    }

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
}
